# EditorConfig: https://editorconfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.{md,markdown}]
trim_trailing_whitespace = false

# Python
[*.py]
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# Go
[*.go]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
end_of_line = lf

# Windows files
[*.{cmd,bat}]
end_of_line = crlf

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_size = 2

# JSON
[*.json]
indent_size = 2
