[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
jinja2 = "*"
flask-assets = "*"
cssmin = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-mail = "*"
flask-env = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.12"
