<!-- app/templates/pages/index.html -->

{% extends "pages/_base_page.html" %}

{% block title %}Home{% endblock %}

{% block meta_description %}home{% endblock %}

{% block sidebar %}
{{ super() }}
<!-- Announcements Section -->
{% if sidebar_data and sidebar_data.announcements %}
<div class="mb-4">
    <h3 class="h5 fw-bold border-bottom pb-2 mb-3">Additional Sidebar tailor per pages</h3>
    <div class="nav flex-column">
        <p>Testing</p>
        <p>Testing</p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the main page of our Flask application.</p>
<div class="featured-content">
    <h2>Featured Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
</div>
{% endblock %}


{% block styles %}
<!-- Page-specific CSS here -->
{% endblock %}

{% block scripts %}
<!-- Page-specific JavaScript here -->
{% endblock %}
